/* 
  Roboto -> Google Fonts
      Light => 300
      Regular => 400
      Bold => 700 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #3c3c3c;
  color: white;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.container .side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  transition: 1s ease-in-out;
  position: relative;
  text-transform: uppercase;
}
.left::before {
  position: absolute;
  content: '';
  background: rgba(110, 13, 175, 0.4);
  width: 100%;
  height: 100%;
}
.left {
  background: url('../img/4-ImageFour.jpg') no-repeat center center/cover;
  object-fit: cover;
}
.right::before {
  position: absolute;
  content: '';
  background: rgba(141, 96, 0, 0.4);
  width: 100%;
  height: 100%;
}
.right {
  background: url('../img/3-ImageThree.jpg') no-repeat center center/cover;
  object-fit: cover;
}

.left:hover,
.right:hover {
  width: 300%;
}

.container .side h1 {
  white-space: nowrap;
  font-size: 28px;
  z-index: 1;
}

.container .side span {
  border: 1px solid white;
  height: 60px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  margin-top: 30px;
  z-index: 1;
  font-size: 20px;
}

.left span:hover {
  background: rgb(218, 102, 198);
}

.right span:hover {
  background: rgb(238, 130, 58);
}

.side span:active {
  transform: scale(0.98);
}
